html, body {width: 100vw; height: 100vh;}
body{
  background-color: #141419;
  color: #FFFFFF;
}
.elipse{
  position: absolute;
  background: #623166;
  opacity: 0.5;
  filter: blur(107px);
  height: 346px;
  width:1052px;
  border-radius: 50%;
  left: 230px;
  top: 610px;

}
.navbar{
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 295px;
  height: 43px;
  margin-top: 20px;
  margin-left: 40px;
}

.nav-btn {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  color: #FFFFFF;
  margin-right:50px ;
  margin-top: 25px;
  font-size: 16px;
}

.nav-items {
  margin-right: 30px ;
}

.hero-section{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.hero-text {
  width: 600px;
  margin-left: 40px;
  height: 200px;
  font-family: inter;
  margin-top: 100px;
}

.color-purp {
  background: linear-gradient(271.09deg, #FF89E6 13.17%, #C35AFF 68.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-img {
  margin-right: 80px;
}

.hero-btn {
  background-color: #C35AFF;
  border: 0px;
  height: 40px;
  width: 170px;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.hero-text > button {
  margin-top: 50px;
}
.content{
  background-color: #141419;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 760px;
  height: 720px;
}

.icon {
  margin-top: 150px;
  background: linear-gradient(0deg, #1E1E23, #1E1E23),
linear-gradient(180deg, rgba(255, 255, 255, 0.29) -0.71%, rgba(255, 255, 255, 0) 116.43%);

height: 50px;
width: 50px;
border-radius: 12px;
position: relative;
top: 20px;
z-index: 1;
display: flex;
justify-content: center;
}
.card-content{
  width: 360px;
  height: 240px;
  background-color: #BABABA0A;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
  font-family: inter;

}
.card-container{
  display: flex;
flex-direction: column;
align-items: center;
}
.card-content >h1{
  margin-top: 40px;
  font-size: 22px;
}
.card-elipse{
  background: #C35AFF;
  opacity: 0.3;
  width: 180px;
  height: 45px;
  filter: blur(30px);
  border-radius: 50%;
  position: absolute;
  bottom: 320px;

}
.card-text{
  width: 300px;
  opacity: 0.8;
  text-align: center;
}

.card-section{
  display: flex;
  justify-content: space-around;
}
.icon2{

  margin-top: 0px;
  position: absolute;
  top: 169px;
  z-index: -1;
  padding: 1px ;
  padding-bottom:px;
  background: linear-gradient(180deg, #FFFFFF4A,rgba(255, 255, 255, 0.1));
  border-radius: 12px;
}
.sign-up-btn{
  background-color: #C35AFF;
  border: 0px;
  height: 40px;
  width: 180px;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background:  #FFFFFF4A;
}

.btn-container {
  display: flex; 
  justify-content: center;
}

.btn-container > * {
  margin-right: 40px;
}

.modal-container {
  width: 500px;
  height: 500px;
  border-radius: 12px;
background-color: rgb(46, 46, 46);
}

.close-button{
  display: flex;
  justify-content: end;
  margin: 8px;
}

.close-btn{
  width: 30px;
  height: 25px;
  border: 0px;
  border-radius: 3px;
  background-color: #C35AFF;
  color: #FFFFFF;
}

.modal-content {
  display: flex;
flex-direction: column;
align-items: center;
}

.signup-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-email{
  font-size: 18px;
    display: flex;
    flex-direction: column;
}

.label-email > input {
  margin-top: 10px;
}

.signup-form > * {
  margin-bottom: 50px;
}

.form-input {
  width: 250px;
  height: 30px;
  border-radius: 8px;
}

.signup-btn {
  width: 120px;
  height: 40px;
  border-radius: 3px;
  background-color: #C35AFF;
  color: #FFFFFF;
  border: 0px;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .modal-background{
    width: 200vh;
    height: 2000px;
  }
  .hero-section > *{
    margin-right: 350px;
  }
  .nav-items{
    display: flex;
    margin-left: 500px;
    margin-bottom: 45px;
    width: 400px;
  }
  .navbar{
    width: 100vh;
  }

  .content{
    width: 1300px;
  }
}

@media screen and (max-width: 900px) {
  .modal-background{
    width: 300vh;
  }
}